[Unit]
Description=Xabber transport backend %i
Documentation=file:/path/xmpp-transport/README.md
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=forking
User=username
Group=usergroup
WorkingDirectory=/path/xmpp-transport

RuntimeDirectory=xabber-transport-%i
RuntimeDirectoryMode=0755
PIDFile=/run/xabber-transport-%i/xabber_transport_%i.pid

ExecStart=/path/xmpp-transport/venv/bin/xabber-transport --config /path/transports.ini --backend %i --daemon --pid-file /run/xabber-transport-%i/xabber_transport_%i.pid --daemon-workdir /path/xmpp-transport
ExecStop=/path/xmpp-transport/venv/bin/xabber-transport --config /path/transports.ini --backend %i --stop --pid-file /run/xabber-transport-%i/xabber_transport_%i.pid
ExecStartPost=/bin/sleep 2

Restart=on-failure
RestartSec=10
TimeoutStartSec=30
TimeoutStopSec=40
